<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.susuhyc.syscommons.dao.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.susuhyc.syscommons.model.SysUserRoleKey" >
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
    <id column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.susuhyc.syscommons.model.SysUserRoleKey" >
    delete from s_sys_user_role
    where role_id = #{roleId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.susuhyc.syscommons.model.SysUserRoleKey" >
    insert into s_sys_user_role (role_id, user_id)
    values (#{roleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.susuhyc.syscommons.model.SysUserRoleKey" >
    insert into s_sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>